.container {
    margin-top:10px;
}

.container .row {
    margin-bottom:5px;
    margin-top:5px;
    
}

#infoLogDiv {
    width:365px;
}

#infoLogDiv .jumbotron {
    width:365px;
}

#infodiv {
    width:100%;
    height:140px;
    text-align:left;
    padding: 0.5rem 0.5rem;
    margin: 0px;
}

#logDiv {
    max-height: 280px;
    height:280px;
    padding: 0.5rem 0.5rem;
    margin: 0px;
    overflow-y: auto;
    text-align: left;
}

